.main-container {
  width: 100%;
  height: 100%;
}

.userMsgWrap {
  height: 1.5rem;
  background: url("../../../static/images/userMsg.png") no-repeat;
  background-size: 100%;
  padding: 0.35rem 0.2rem;
  display: flex;
}

.userMsgWrap .userLogo {
  width: 0.8rem;
  background: url("../../../static/images/userLogo.png") no-repeat;
  background-size: 100%;
  height: 100%;
  border-radius: 50%;
}

.userMsgWrap .userMsgs {
  flex: 1 1;
  padding: 0.1rem;
  padding-right: 0;
  height: 100%;
}

.userMsgWrap .userMsgs div {
  height: 50%;
  display: flex;
  align-items: center;
  color: white;
}

.userPower {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gainsboro;
}

.userPower div {
  width: 33.333%;
  height: 1.25rem;
  background: white;
  border: 1px solid gainsboro;
}

.userPower div i {
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
  text-align: center;
  font-size: 0.3rem;
  color: #9e9e9e;
}

.userPower div div {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 0.15rem;
  align-items: center;
  border: none;
}

.loginOut {
  height: 0.5rem;
  width: 100%;
  margin: 0.1rem 0;
  background: white;
  text-align: center;
  line-height: 0.5rem;
}
