.container-list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container{
  width: 100%;
  height: 100%;
}
%juzhong{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  display: flex;
  height: 0.5rem;
  .header-left{
    flex: 1;
    @extend %juzhong;
    span{
      font-size: 0.24rem;
      font-weight: 800;
    }
  }
  .header-mid{
    flex: 8;
    @extend %juzhong;
    font-size: 0.16rem;
  }
  .header-right{
    flex: 1;
    @extend %juzhong;
  }
}
.main{
  flex: 1;
  overflow: auto;
}
.footer{
  height: 0.5rem;
  div{
    background-color: #108ee9;
    margin-right: 4px;
    line-height: 0.5rem;
    height: 0.5rem;
    width: 100%;
    border-radius: 0px;
    text-align: center;
    font-size: 0.18rem;
    color: #fff;
  }
}