.channe .channe-item span:nth-child(1), .channe .channe-item span:nth-child(2), .smallOne .title h3, .smallTwo .title h3, .smallThree .title h3, .smallThree .content div .imgs, .smallFour .title h3, .smallFive .bigWrapper .title h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 2rem;
}

.swiper-container .swipeer-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-container .swipeer-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-container .swipeer-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-style: none;
}

.channe {
  height: 0.7rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.05rem 0;
}

.channe .channe-item {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.channe .channe-item span:nth-child(1) {
  flex: 8;
}

.channe .channe-item span:nth-child(1) img {
  width: 40%;
  height: 70%;
}

.channe .channe-item span:nth-child(2) {
  flex: 2;
}

.bigContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.smallOne {
  width: 100%;
  height: auto;
  margin-top: 0.1rem;
}

.smallOne .title h3 {
  height: 0.5rem;
}

.smallOne .content {
  display: flex;
  flex-wrap: wrap;
}

.smallOne .content div {
  width: 50%;
  position: relative;
}

.smallOne .content div img {
  width: 100%;
  height: 100%;
}

.smallOne .content div .names {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  font-size: 0.14rem;
  font-weight: normal;
}

.smallOne .content div .price {
  position: absolute;
  top: 0.3rem;
  left: 0.1rem;
  font-size: 0.12rem;
  color: darkgrey;
}

.smallTwo {
  width: 100%;
  height: auto;
  margin-top: 0.1rem;
}

.smallTwo .title h3 {
  height: 0.5rem;
}

.smallTwo .content {
  display: flex;
  flex-wrap: wrap;
}

.smallTwo .content div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.smallTwo .content div img {
  width: 100%;
  height: 70%;
}

.smallTwo .content div .names {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.15rem;
}

.smallTwo .content div .price {
  margin: 4% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.15rem;
  color: darkred;
}

.smallThree {
  width: 100%;
  height: auto;
  margin-top: 0.1rem;
}

.smallThree .title h3 {
  height: 0.5rem;
}

.smallThree .content {
  display: flex;
  flex-wrap: wrap;
}

.smallThree .content div {
  width: 100%;
  display: flex;
  position: relative;
}

.smallThree .content div:after {
  content: '';
  width: 100%;
  height: 1px;
  background: darkgrey;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid darkgrey;
  color: darkgrey;
  transform: scaleY(0.2);
}

.smallThree .content div .imgs {
  flex: 4;
  border: none;
}

.smallThree .content div .imgs img {
  width: 100%;
  height: 70%;
  border: none;
}

.smallThree .content div .fonts {
  flex: 6;
  display: flex;
  flex-direction: column;
  font-size: 0.15rem;
  padding: 6% 0 0 0;
  border: none;
}

.smallThree .content div .fonts span {
  margin: 4% 0;
  justify-content: flex-start;
  border: none;
}

.smallThree .content div .fonts .descript {
  color: gray;
}

.smallThree .content div .fonts .price {
  font-size: 0.15rem;
  color: darkred;
}

.smallFour {
  width: 100%;
  height: auto;
  margin-top: 0.1rem;
  background: white;
}

.smallFour .title h3 {
  height: 0.5rem;
}

.smallFive {
  height: auto;
  width: 100%;
}

.smallFive .bigWrapper {
  height: auto;
  width: 100%;
}

.smallFive .bigWrapper .title {
  margin-top: 0.1rem;
}

.smallFive .bigWrapper .title h3 {
  height: 0.5rem;
}

.smallFive .bigWrapper .content {
  display: flex;
  flex-wrap: wrap;
}

.smallFive .bigWrapper .content div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.smallFive .bigWrapper .content div img {
  width: 100%;
  height: 70%;
}

.smallFive .bigWrapper .content div .names {
  width: 1.6rem;
  padding: 0 0 0 0.4rem;
  font-size: 0.15rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.smallFive .bigWrapper .content div .price {
  margin: 4% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.15rem;
  color: darkred;
}

.smallFive .bigWrapper .last {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.smallFive .bigWrapper .last span:nth-child(1) {
  width: 100%;
  margin: 55% 0 0 0;
  text-align: center;
}

.smallFive .bigWrapper .last span:nth-child(2) {
  width: 100%;
  text-align: center;
  margin: -5% 0 0 0;
}

.smallFive .bigWrapper .last span:nth-child(2) img {
  padding: 0.2rem;
  height: 0.7rem;
  width: 0.7rem;
}
